{% trans_default_domain 'FOSUserBundle' %}

	<br/>
	<br/>
	
	<div class="row col-lg-offset-0">
		<h1>Modification du mot de passe</h1>
	</div>
	
	<br/>
	<div class="well">
	
		<br/>
		
		
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}
		
		<div class="form-group">
			{{ form_label(form.current_password, "Mot de passe courant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(form.current_password) }}
		</div>
		
		<div class="form-group">
			{{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(form.plainPassword.first) }}
		</div>
		
		<div class="form-group">
			{{ form_label(form.plainPassword.second, "Confirmation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(form.plainPassword.second) }}
		</div>
		
		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
				{{ form_widget(form.Changer, {'attr': {'class': 'btn btn-primary'}}) }}
			</div>
		</div>
		
		{{ form_rest(form) }}	
		
		<br/>
		<br/>
		
		<a class="btn btn-primary col-lg-offset-0" href="{{ path('fos_user_profile_show')}}">
			Annuler
		</a>
	</div>
