{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}	
	
	<br/>
	<br/>
	
	<div class="row col-lg-offset-0">
		<h1>Identification</h1>
	</div>
	
	<br/>
	
	{% if error %}
		<div class="alert alert-danger">{{ error.message }}</div>
	{% endif %}
  
	<div class="well">
		<form class="form-horizontal" action="{{ path('fos_user_security_check') }}" method="post">
		
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="username">Identifiant :</label>
				<div class="col-sm-3"> 
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="password">Mot de passe :</label>
				<div class="col-sm-3"> 
                    <input class="form-control" type="password" id="password" name="_password" required="required" />
                </div> 
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="password">Se souvenir :</label>
				<div class="col-sm-3"> 
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                </div> 
			</div>
			
			<div class="form-group">
				<div class="col-sm-3 col-sm-offset-3"> 
                    <input class="btn btn-primary" type="submit" value="Connexion" />
                </div> 
			</div>
	</form>
	
	
	<br/>
  
	<a class="col-sm-offset-3" href="{{ path('fos_user_registration_register') }}">
		Pas encore inscrit ? Cliquez ici !
	</a>
	
	<br/>
	
	<a class="col-sm-offset-3" href="{{ path('fos_user_resetting_request') }}">
		Mot de passe oublié ? Cliquez ici !
	</a>
	
	</div>
	
	<br/>
	<br/>
{% endblock fos_user_content %}


