{% extends "GMCarnetBundle::layout.html.twig" %}

{% block title %}
  Inscription - {{ parent() }}
{% endblock %}

{% block body %}

	<br/>
	<br/>
	
	<div class="row col-lg-offset-0">
		<h1>Inscription</h1>
	</div>
	
	<br/>
	
	<div class="well">
		{{ form_start(formulaire, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(formulaire) }}
		
		<div class="form-group">
			{{ form_label(formulaire.username, "Nom d'utilisateur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(formulaire.username, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(formulaire.username) }}
		</div>
		
		<div class="form-group">
			{{ form_label(formulaire.password.password, "Mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(formulaire.password.password, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(formulaire.password.password) }}
		</div>
		
		<div class="form-group">
			{{ form_label(formulaire.password.confirm, "Confirmation", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(formulaire.password.confirm, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(formulaire.password.confirm) }}
		</div>
		
		<div class="form-group">
			{{ form_label(formulaire.email, "E-mail", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(formulaire.email, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(formulaire.email) }}
		</div>
		
		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
				{{ form_widget(formulaire.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
			</div>
		</div>
		
		{{ form_rest(formulaire) }}	
		
	</div>

{% endblock %}